apiVersion: apps/v1
kind: Deployment
metadata:
  name: rizurin-app-api
  namespace: rizurin
  labels:
    app: rizurin-app-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: rizurin-app-api
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: rizurin-app-api
    spec:
      containers:
        - name: rizurin-app-api
          image: 192.168.8.60:8085/rizurin/rizurin-app-api:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3001
          env:
            - name: PORT
              value: "3001"
            - name: NODE_ENV
              value: "production"
            - name: DB_HOST
              value: "192.168.8.50"
          livenessProbe:
            httpGet:
              path: /health
              port: 3001
            initialDelaySeconds: 20
            periodSeconds: 10
            timeoutSeconds: 3
          readinessProbe:
            httpGet:
              path: /health
              port: 3001
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 2
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
      imagePullSecrets:
        - name: harbor-secret
